<h4 class="pageTit">Create a wishlist</h4>
<p class="pageSubTitle">Let people know what gifts you'd like</p>

<div class="card selectGiftVoucherBox">
  <h4 class="card-header">
    <span>1</span> Select Gift Vouchers
  </h4>
  <div class="card-block">
    <!-- List showing the merchants (brands) -->
    <div class="row brandlist" id="brands">

      <div class="card-block" [@slideUpDownAnimation]>
        <div class="row" id="picksearch">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <div class="icon-addon addon-lg"  style="z-index: 1 !important; text-align: center">
                    <input type="text" placeholder="Search" class="form-control" id="searchInput" [(ngModel)]="query">
                    <label for="searchInput" class="fa fa-search" rel="tooltip" title="searchInput"></label>
                </div>
            </div>
          </div>
        </div>

        <!-- List showing the merchants (brands) -->

        <div class="row">
          <div class="col-md-3 col-6 col-sm-6 hit" *ngFor="let hit of hitts | async">
            <a class="acard" (click)="addDown(hit)" id="card{{hit.id}}">
                <div class="card">
                <img class="card-img-top img-fluid" src="{{hit.profile_img}}" alt="{{hit.company}} Gift Voucher">
                <div class="card-block">
                    <p class="card-text">{{hit.company}} Gift Voucher</p>
                </div>
                </div>
            </a>
          </div>
        </div>

        <!-- End List showing the merchants (brands) -->
      
      </div>

      <div class="card-footer text-center">
        <div id="pagination"></div>
      </div>

      <!-- Left And Right Sign For Pagination-->
      <!-- <a href="" class="prev-btn"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </a>
      <a href="" class="next-btn"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </a> -->

    </div>
    <!-- End List showing the merchants (brands) -->

  </div>

  <div class="fadeOutt" *ngIf="selected" (click)="scroll(targ)">
    <div class="arrow bounce">
      <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
    </div>
  </div>

  <div class="card-bottom" #targ>
    <div class="row" id="lowerFiller">
      <div class="col-4 col-sm-4 col-md-2" *ngFor="let wishlistItem of wishlistItems" >
        <div class="card">
          <img class="card-img-top img-fluid" src="{{wishlistItem.profile_img}}" alt="{{wishlistItem.merchantName}}">
          <span class="brandBtn" (click)="remove(wishlistItem.merchantId)">Remove</span>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-ModalBox float-right" (click)="next()">Next</button>

  </div>

</div>

<div class="card">
  <h4 class="card-header">
    <span>2</span> Wishlist Customisation
  </h4>
</div>

<div class="card">
  <h4 class="card-header">
    <span>3</span> Wishlist Preview
  </h4>
</div>

<div class="card">
  <h4 class="card-header">
    <span>4</span> Share Wishlist
  </h4>
</div>

<style>
  .acard .card-block {
    padding: 0em !important;
  }
  
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  i {
    display: block;
    color: #fff;
  }
  .arrow {
    position: fixed;
    bottom: 50px;
    z-index: 1009;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
  }

  .arrow i{
    color: red;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }


  .fadeOutt {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
    position: relative;
    background: red;
  }
  @-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
  




</style>



   
