<h4 class="pageTit">Create a wishlist</h4>
<p class="pageSubTitle">Let people know what gifts you'd like</p>

<div class="card">
  <h4 class="card-header">
    <span>1</span> Select Gift Vouchers
  </h4>
</div>

<div class="card">
  <h4 class="card-header">
    <span>2</span> Wishlist Customisation
  </h4>
</div>

<div class="card composeMessageBox">

  <h4 class="card-header">
    <span>3</span> Wishlist Preview
  </h4>
</div>

<div class="card shareWishlistBox">
  <h4 class="card-header">
    <span>4</span> Share Wishlist
  </h4>

  <div class="card-block share-wishlist justify-content-center">
    <div class="shareWishlist align-self-center">
      <h5>Your wishlist has been created successfully</h5>
      <p>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
      </p>
      <p>Share your wishlist with your friends</p>
      <span class="badge badge-pill badge-success" *ngIf="copied">Copied To Clipboard</span>
      <div class="input-group">
        <input type="text" class="form-control" value="{{link}}" #copyTarget readonly>
        <span class="input-group-btn">
          <button class="btn btn-primary" [ngxClipboard]="copyTarget" (cbOnSuccess)="copyText()" type="button">Copy Link</button>
        </span>
      </div>
      <section class="widget sharing_buttons_widget mt-3">
        <share-container 
          direction="horizontal"
          addedText="Your Wishlist"
          [properties]="{title:'my title', description:'my desc', img:' an image', via:'giftplush', hashtags:'someHashTag', url:link }"
          [platforms]="['twitter','facebook','mail']">
        </share-container>             
    </section>
    </div>
  </div>

  <div class="card-footer">
    <span class="float-right"> 
      <button type="button" class="btn btn-ModalBox">Finish</button>
    </span>
  </div>

</div>

<style>
  .fadeOutt {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    position: relative;
    background: red;
  }
  @-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
</style>




        
