<h4 class="pageTit">Create a wishlist</h4>
<p class="pageSubTitle">Let people know what gifts you'd like</p>

<div class="card">
  <h4 class="card-header">
    <span>1</span> Select Gift Vouchers
  </h4>
</div>

<div class="card wishlistCustomisationBox">
  <h4 class="card-header">
    <span>2</span> Wishlist Customisation
  </h4>
  <form #customizeForm="ngForm" (ngSubmit)="next(customizeForm)">

    <div class="card-block compose-message">
      <h6>Customise your wallet</h6>
      <div class="form-group">
        <label for="wishlistName">Wishlist Name</label>
        <input type="text" class="form-control" name="wishlistName" [(ngModel)]="wishlistName" id="wishlistName" required>
      </div>
      <div class="form-group">
        <label for="purposeOfWishlist">Purpose of Wishlist (optional)</label>
        <input type="text" class="form-control" name="purposeOfWishlist" [(ngModel)]="purposeOfWishlist" id="purposeOfWishlist" placeholder="Ex. For my birthday, for my wedding, For my graduation">
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="privacy">Privacy</label><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" [ngClass]="itIsPrivate" (click)="TogglePrivatePublic()">Private</button>
              <button type="button"[ngClass]="itIsPublic" (click)="TogglePrivatePublic()">Public</button>
              <input type="hidden" name="private" [(ngModel)]="private" class="form-control" aria-describedby="sizing-addon2" value="{{private}}" >
            </div>
            <span class="ml-3 mt-2 privacytext">{{privacyText}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="expires">Expires</label>
            <input type="date" class="form-control" name="expires" [(ngModel)]="expires" id="expires" required>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span class="float-right"> 
        <button type="button" class="btn btn-link" >Back</button>
        <button type="button" class="btn btn-ModalBox" (click)="next(customizeForm)" [disabled]="!customizeForm.form.valid || loading">Next</button>
      </span>
    </div>

  </form>
  
</div>

<div class="card">
  <h4 class="card-header">
    <span>3</span> Wishlist Preview
  </h4>
</div>

<div class="card">
  <h4 class="card-header">
    <span>4</span> Share Wishlist
  </h4>
</div>



        
