
  <h4 class="pageTit">Send Gift Vouchers</h4>

  <div class="card">
    <h4 class="card-header">
      <span>1</span> Select Gift Vouchers
    </h4>
    <div class="card-block" [@slideUpDownAnimation]>
      <div class="row" id="picksearch">
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
              <div class="icon-addon addon-lg"  style="z-index: 1 !important; text-align: center">
                  <input type="text" placeholder="Search" class="form-control" id="searchInput">
                  <label for="searchInput" class="fa fa-search" rel="tooltip" title="searchInput"></label>
              </div>
          </div>
        </div>
      </div>

      <!-- List showing the merchants (brands) -->

        <div class="" id="hits">
          <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
          <span class="sr-only">Loading...</span>
      </div>

      <!-- End List showing the merchants (brands) -->
      
    
    </div>
    <div class="card-footer text-center">
      <div id="pagination"></div>
    </div>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>2</span> Select Recipients
    </h4>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>3</span> Compose Message
    </h4>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>4</span> Message Preview
    </h4>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>5</span> Place Order
    </h4>
  </div>

<!-- View Modal Page Box-->
<div class="viewModalPage justify-content-center">
  <router-outlet> </router-outlet>
</div>
<!--  End View Modal Page Box-->





