
  <h4 class="pageTit">Send Gift Vouchers</h4>

  <div class="card">
    <h4 class="card-header">
      <span>1</span> Select Gift Vouchers
    </h4>
    <div class="card-block" [@slideUpDownAnimation]>
      <div class="row" id="picksearch">
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
              <div class="icon-addon addon-lg"  style="z-index: 1 !important; text-align: center">
                  <input type="text" placeholder="Search" class="form-control" id="searchInput" value="tele">
                  <label for="searchInput" class="fa fa-search" rel="tooltip" title="searchInput"></label>
              </div>
          </div>
        </div>
      </div>

      <!-- List showing the merchants (brands) -->

      <div class="row">
        <div class="col-md-3 col-4 col-sm-4 hit" *ngFor="let hit of hitts | async">
          <a class="acard" routerLink="/pick/mod/{{hit.id}}">
              <div class="card">
                <img class="card-img-top img-fluid" src="{{hit.profile_img}}" alt="{{hit.company}} Gift Voucher">
                <div class="card-block">
                    <p class="card-text">{{hit.company}}</p>
                </div>
              </div>
          </a>
        </div>
      </div>

      <!-- End List showing the merchants (brands) -->
    
    </div>
    <div class="card-footer text-center">
      <div id="pagination"></div>
    </div>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>2</span> Select Recipients
    </h4>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>3</span> Compose Message
    </h4>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>4</span> Message Preview
    </h4>
  </div>

  <div class="card">
    <h4 class="card-header">
      <span>5</span> Place Order
    </h4>
  </div>

<!-- View Modal Page Box-->
<div class="viewModalPage justify-content-center">
  <router-outlet> </router-outlet>
</div>
<!--  End View Modal Page Box-->

<style>
  .acard .card-block {
    padding: 0em !important;
  }
</style>
