<div class="row row-offcanvas row-offcanvas-left">

  <div class="col-6 col-md-4 sidebar-offcanvas" id="sidebar">

      <div class="sidebar-cent" *ngIf="cate">

        <p class="logo">
          <a routerLink="/"> giftplush. </a>
        </p>

        <h4>Occasions</h4>
        <div id="brands">
          <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <hr>
        <h4>Locations</h4>
        <div id="location">
          <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <hr>
        <h4>Price</h4>
        <div id="price">
          <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>


      </div>

      <div class="sidebar-cent" *ngIf="!cate">

          <p class="logo">
            <a routerLink="/"> giftplush. </a>
          </p>

        <div class="filter-list">
          <p class="active"> 
            <a routerLinkActive="active" routerLink="/d/pick"> Send Gifts </a>
          </p>
          <p>
            <a routerLinkActive="active" routerLink="/d/wishlist"> Create Wishlist </a>
          </p>
        </div>
        <hr>

        <div class="filter-list" *ngIf="loggedIn">
          <p>
            <a routerLinkActive="active" routerLink="/dashboard"> Dashboard </a>
          </p>
          <p>
            <a routerLinkActive="active" routerLink="/dashboard"> Transaction History </a>
          </p>
        </div>
        <hr>

        <div class="filter-list" *ngIf="loggedIn">
          <p (click)="logout()">
            Logout
          </p>
        </div>


      </div>
      

  </div><!--/span-->

  <div class="col-12 col-md-8 right-box">

    <p id="nav-icon1" class="hidden-md-up sidebtn" data-toggle="offcanvas" appSideBarToogle>
      <span></span>
      <span></span>
      <span></span>
    </p>
    
    <router-outlet></router-outlet>
  </div><!--/span-->


</div><!--/row-->